*{
margin: 0%;
padding: 0%;

}
.center-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
body {
    background: #202628;
}
.loader-circle-3{
    width: 70px;
    height: 70px;
    background: #eee;
    border-radius: 50%;
    position: relative;
    display: inline-block;
}
.loader-circle-3::after,
.loader-circle-3::before{
    content: "";
    display: block;
    width: 70%;
    height: 70%;
    border-radius: 50%;
}
.loader-circle-3::before{
    position: relative;
    top: 17px;
    left: 17px;
    height: 35px;
    width: 35px;
    background-color:#ff5722;
    animation: loader-circle-3-shrink 3s ease infinite;
}
.loader-circle-3::after {
    position: absolute;
    border: 4px solid transparent;
    border-top-color: #00bcd4;
    border-bottom-color: #ff9800;
    height: 90%;
    width: 90%;
    top: -4px;
    left: -4px;
    animation: loader-circle-3-spin 2s linear infinite;
}
@keyframes loader-circle-3-spin {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}
@keyframes loader-circle-3-shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1);
    }
}
